
.main{
    width:90%;
    margin-left:5%;
    display: inline-block;
    
}

.card{
    width:25%;
    margin:2%;
    height:300px;
    box-shadow: 5px 10px 15px gray; 
    float: left;
    background-color: aquamarine;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color:white
}

.card > img{
    height:150px;
    width:100%
}